.custom-select select {
  width: 100%;
  float: left;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: 2px solid #cfcfcf;
  background: url("./search-arrow.svg");
  background-repeat: no-repeat;
  background-size: 16px 17px;
  background-position: right 15px top 18px;
  padding: 25px 10px 10px 15px;
  border-radius: 10px;
  color: #6a7088;
}
.custom-select select:focus {
  border-radius: 10px;
  outline: none;
}
.custom-select {
  position: relative;
}
.custom-select > label {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 10px 10px 0px 15px;
  font-size: 13px;
  color: #247dc4;
}
